@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Playwrite+AU+QLD:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    font-family: Cabin, sans-serif;
    text-align: center;
    padding: 1rem;
    color: white;
    background-image: linear-gradient(to right, black, purple );
}

#name {
    font-family: "Playwrite AU QLD", cursive;
    color: yellow;
}

.paragrafo {
    font-family: "Playwrite AU QLD", cursive;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}

section {
    background-color: white;
    margin: 2rem auto;
    max-width: 800px;
    transition: all 0.2s;
}

section:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
}

#img1 {
    height: 70vh;
    background-image: url(imagens/city1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img2 {
    height: 70vh;
    background-image: url(imagens/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img3 {
    height: 70vh;
    background-image: url(imagens/city2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img4 {
    height: 70vh;
    background-image: url(imagens/rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img5 {
    height: 70vh;
    background-image: url(imagens/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img6 {
    height: 70vh;
    background-image: url(imagens/bmw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}